        @font-face {
            font-family: 'micro';
            src: url(../font/Micro5-Regular.ttf);
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: micro;
            font-size: 30px;

        }

        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            background-image: url(./img/book_bg.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        .loader {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1000;
            opacity: 1;
            animation: fadeOutLoader 7.5s forwards;
        }

        @keyframes fadeOutLoader {
            0% {
                opacity: 1;
                z-index: 1000;
                transform: translateY(0);
            }

            80% {
                opacity: 1;
                transform: translateY(0);
            }

            100% {

                z-index: -1;
                transform: translateY(-100%);
            }
        }

        .videoclass {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(39, 26, 19, 255);

        }

        video {
            width: 400px;
            height: 400px;

        }

        .book {
            position: relative;
            width: 350px;
            height: 500px;
            transition: transform 0.5s;
        }

        .paper {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            perspective: 1500px;

        }

        .front,
        .back {
            background-color: white;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform-origin: left;
            transition: transform 0.5s;
        }

        .front {
            z-index: 1;
            backface-visibility: hidden;
            border-left: 3px solid powderblue;
        }

        .back {
            z-index: 0;
        }

        .front-content,
        .back-content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .back-content {
            transform: rotateY(180deg)
        }

        .flipped .front,
        .flipped .back {
            transform: rotateY(-180deg);
        }

        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            margin: 10px;
            transition: transform 0.5s;
        }

        button:focus {
            outline: none;
        }

        button:hover i {
            color: #636363;
        }

        i {
            font-size: 50px;
            color: gray;
        }

        #p1 {
            z-index: 4;
        }

        #p2 {
            z-index: 3;
        }

        #p3 {
            z-index: 2;
        }

        #p4 {
            z-index: 2;
        }

        #p5 {
            z-index: 1;
        }